spring:
  profiles.active: local
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    properties:
      hibernate:
        format-sql: true
logging:
  level:
    root: error
    spring.framework: info
    org.dreamteam: debug
    org.dreamteam.mafia.security: error
token:
  expirationPeriodInHours: 24
engine:
  durations:
    CIVILIAN_DISCUSS_PHASE_DURATION: 30
    CIVILIAN_VOTING_PHASE_DURATION: 20
    MAFIA_DISCUSS_PHASE_DURATION: 20
    MAFIA_VOTING_PHASE_DURATION: 20
    DON_PHASE_DURATION: 15
    SHERIFF_PHASE_DURATION: 15
    GRACE_DURATION: 7