.button {
    background-color: #141462;
    border: none;
    color: wheat;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'PT Mono', monospace;
    font-size: 1.1rem;
    cursor: pointer;
}

.button:disabled, .button:disabled:hover {
    background-color: transparent;
    color: #141462;
    border: #141462 solid 1px;
    cursor: default;
}

.rectangle-button {
    padding: 0.5rem 1rem;
    line-height: 22px;
    border-radius: 6px;
    margin-right: 2rem;
}

.round-button {
    border-radius: 50%;
}

.button:hover {
    background-color: #540b0b;
}
