.chat-box {
    font-family: 'PT Mono', monospace;
    text-align: left;
    position: relative;
    height: 10rem;
    width: 100%;
    overflow: auto;
    min-width: 40rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    /* Стиль скроллбара для Firefox*/
    scrollbar-color: black transparent;
}

/*  Стиль скроллбара для  Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 7px;
    background: transparent;
    border: black solid 1px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 3px;
}

.from {
    font-weight: bold;
}

.mafia-message {
    color: #540b0b;
}

.chat-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 40rem;
    margin: auto;
}

.chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: black solid 1px;
    margin-right: 2rem;
}

.message_input {
    width: 20rem;
    margin-left: 2rem;
}

.message-label {
    font-family: 'PT Mono', monospace;
    font-size: 1rem;
    width: 10rem;
}

#chat_area {
    display: none;
    height: 15rem;
    border: 1px solid black;
    padding: 1rem 2rem;
    background: transparent;
}

#overlay-chat {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 2;
    display: none;
}