.list-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}


.entry-container {
    margin: 1.5rem 0 1.5rem 2rem;
    height: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.entry {
    width: 31rem;
    height: 2rem;
    border-bottom: black solid 1px;
}

.entry:hover {
    font-weight: bold;
}

.selected {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.text {
    font-family: 'PT Mono', monospace;
    font-size: 1.1rem;
    width: 25rem;
}

.tooltip-container {
    position: relative;
}

/* Tooltip text */
.tooltip-container .tooltip {
    visibility: hidden;
    width: 30rem;
    background-color: #540b0b;
    color: wheat;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -15.5rem; /* Use half of the width (31rem/2), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltip {
    visibility: visible;
}