#civilians_chat_box {
    position: relative;
    text-align: left;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 60%;
    border: 3px solid #ACD8F0;
    overflow: auto;
}

#mafia_chat_box {
    position: relative;
    text-align: left;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 60%;
    border: 3px solid #FF0000;
    overflow: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 60%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.bodyPadding {
    padding: 10px;
}