#civilians_chat_box {
    position: relative;
    text-align:left;
    padding:10px;
    background:#fff;
    height:270px;
    width:60%;
    border:3px solid #ACD8F0;
    overflow:auto; }

#mafia_chat_box {
    position: relative;
    text-align:left;
    padding:10px;
    background:#fff;
    height:270px;
    width:60%;
    border:3px solid #FF0000;
    overflow:auto;
}

.not_active_start_game_button{
    background-color: red;
    color: white;
}

.active_start_game_button{
    background-color: green;
    color: red;
}

.admin_user{
    color: purple;
    font-size: x-large;
}
.ready_user{
    color: green;
}
.not_ready_user{
    color: red;
}
.room_box{
    position: relative;
    text-align:left;
    padding:10px;
    background: #ffffff;
    height:270px;
    width:60%;
    border:3px solid #000dff;
    overflow:auto;
}

.user_ready_button{
    background-color: #9cee9c;
    color: #ffffff;
}
.user_not_ready_button{
    background-color: #f35858;
    color: black;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 60%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.bodyPadding{
    padding: 10px;
}