.red {
    box-shadow: 0 0 0 3px #a00f0f;
    color: #540b0b;
}

.blue {
    box-shadow: 0 0 0 3px darkblue;
    color: darkblue;
}

.stamp-container {
    padding: 0.5rem 0.25rem;
    float: right;
}

.stamp {
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 4px;
    line-height: 22px;
    font-family: 'PT Mono', cursive;
    vertical-align: middle;
    text-align: center;
    opacity: 0.4;
    width: 6rem;
    transform: rotate(-15deg) translateY(-0.5rem);
    z-index: 1;
}